@import mixins
@import media
@import bar-mobile
@import vars

// PAGE LECTORS

.lectors
  .user-img-upload
    padding-left: 30px
    position: relative
    top: 20px
    img
      filter: grayscale(100%)
  .float-reverse
    +float-fix(768)
  .media
    margin-top: 30px
    +m(1100)
      margin-top: 60px
  p
    font-size: 1.6rem
    padding-left: 0
    margin-top: 1.5rem
  h6.heading
    margin-bottom: 70px
  h6.inner
    font-size: 2.4rem
    +m(768)
      text-align: center
  .media img
    position: relative
    max-width: 300px
    width: 100%
  .tags
    margin-top: 10px
    margin-bottom: 36px
    strong
      text-decoration: none
    a
      color: #000
      font-style: normal
      text-decoration: underline
      font-family: 'Georgia'
      font-weight: bold
  .img-lector
    text-align: center
    position: relative
    +mm(1100)
      bottom: 50px