@import mixins
@import vars

a:hover
  color: $main

*, .container-fluid
  margin: 0
  outline: none
  box-sizing: border-box

#menu.fixed
  position: fixed
  top: 0
  z-index: 999

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active
  height: inherit!important

.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item
  -webkit-backface-visibility: hidden
  -moz-backface-visibility:    hidden
  -ms-backface-visibility:     hidden
  -webkit-transform: translate3d(0,0,0)
  -moz-transform: translate3d(0,0,0)
  -ms-transform: translate3d(0,0,0)


.owl-carousel img
  height: auto!important



.row
  margin: 0!important


li
  list-style: none


::-webkit-input-placeholder
   background: default

// ::selection
//      background: default

input:focus:invalid,
textarea:focus:invalid
  border-color: red

input:required:valid, 
textarea:required:valid
  border-color: green

.vertical
  display: table-cell
  vertical-align: middle
  height: inherit
  width: inherit

.flex_box, .flex_item 
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -ms-flex-wrap: wrap
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  -ms-flex-align: flex-start
  -webkit-align-items: flex-start
  -webkit-box-align: flex-start
  align-items: flex-start
  float: none

h1,h2,h3,h4,h5,h6,p
  line-height: 1

h1,h2,h3,h4,h5,h6,p
  margin: 0
