@import mixins
@import media
@import bar-mobile
@import vars

.videoblog
	min-width: 320px
	h3
		font-family: $mor
		font-size: 1.4rem
	h2
		font-family: $mob
		font-size: 2.8rem
		line-height: 34px
	section.video
		margin-top: 54px
	.item-video
		padding-bottom: 38px
		h3
			font-family: $mob
			font-size: 1.8rem
			line-height: 22px
		p.date
			font-family: $mor
			font-size: 1.4rem
			margin-bottom: 16px
		p.info
			font-size: 1.6rem
			line-height: 23px
	.no-padding
		padding-left: 0
	.iframe
		position: relative
		height: 0
		width: 100%
		margin-bottom: 20px
		padding-bottom: 56%
		iframe
			+absolute
			left: 0
			top: 0
			height: 100%
			width: 100%