a:hover {
  color: #EB5757; }

*, .container-fluid {
  margin: 0;
  outline: none;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel img {
  height: auto !important; }

.row {
  margin: 0 !important; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex_box, .flex_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

a:hover {
  color: #EB5757; }

*, .container-fluid {
  margin: 0;
  outline: none;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel img {
  height: auto !important; }

.row {
  margin: 0 !important; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex_box, .flex_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.review-note h6 {
  font-family: "Merriweather-Bold";
  font-size: 4.2rem;
  color: #333; }

.review-note p.quote {
  font-size: 2rem;
  line-height: 28px;
  font-family: "Rubik";
  margin-top: 30px; }

.review-note .autor-rev {
  font-size: 1.4rem;
  overflow: auto;
  font-family: "Arimo";
  padding: 25px 0 38px;
  border-bottom: 1px solid #000;
  margin-bottom: 41px; }
  .review-note .autor-rev img {
    float: left;
    margin-right: 16px;
    position: relative;
    bottom: 10px; }
  .review-note .autor-rev span {
    margin: 0;
    font-family: "Arimo";
    font-size: 1.6rem; }

.review-note .aside {
  padding-right: 0; }

.review-note .body p {
  margin-bottom: 30px !important; }

.review-note .media-img img {
  width: 100%; }

.review-note .section-button {
  padding: 0 30px;
  text-align: center;
  height: auto; }
  .review-note .section-button img {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    bottom: 50%;
    margin-bottom: -15px; }
  .review-note .section-button .button:nth-child(2) {
    margin-top: 20px; }
  .review-note .section-button a {
    display: inline-block;
    width: 100%;
    font-family: "Rubik";
    font-size: 1.4rem; }
    .review-note .section-button a::after {
      content: "" !important; }

.review-note .blockquote {
  text-align: center;
  margin-top: 77px; }
  .review-note .blockquote p {
    font-size: 2.2rem;
    font-family: "Montserrat-Bold";
    color: #333;
    line-height: 24px; }

.review-note blockquote {
  font-size: 2rem;
  line-height: 28px;
  font-family: "Rubik-BoldItalic"; }

.review-note .video {
  margin-top: 40px;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .review-note .video {
      margin-top: 200px; } }
  .review-note .video iframe {
    width: 100%; }
  .review-note .video p {
    font-size: 1.2rem;
    padding-top: 10px;
    font-family: "Rubik-Italic"; }

a:hover {
  color: #EB5757; }

*, .container-fluid {
  margin: 0;
  outline: none;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel img {
  height: auto !important; }

.row {
  margin: 0 !important; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex_box, .flex_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.review .media {
  margin-top: 20px; }

.review .media-img img {
  max-width: 100%; }
  @media only screen and (max-width: 768px) {
    .review .media-img img {
      margin-bottom: 20px; } }

@media only screen and (max-width: 768px) {
  .review .media-img {
    text-align: center; } }

.review h4 {
  font-size: 3.6rem;
  font-family: "Merriweather-Regular"; }

.review .subtitle {
  margin: 16px 0 18px;
  font-size: 1.6rem;
  font-family: "Montserrat-Bold";
  font-style: italic; }

.review .desc {
  max-height: 212px;
  overflow: hidden;
  position: relative; }
  .review .desc::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 87%, white 88%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 87%, white 88%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 87%, white 88%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); }

.review p {
  line-height: 21px;
  font-size: 1.4rem;
  font-family: "Merriweather-Regular";
  margin-bottom: 12px; }

.review .section-title {
  margin: 40px 0 32px; }

.review .img-pic {
  position: absolute;
  right: 0;
  top: 0; }

.review h6 {
  float: left; }

a:hover {
  color: #EB5757; }

*, .container-fluid {
  margin: 0;
  outline: none;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel img {
  height: auto !important; }

.row {
  margin: 0 !important; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex_box, .flex_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.lectors .user-img-upload {
  padding-left: 30px;
  position: relative;
  top: 20px; }
  .lectors .user-img-upload img {
    filter: grayscale(100%); }

@media only screen and (max-width: 768px) {
  .lectors .float-reverse {
    display: flex !important;
    flex-direction: column-reverse !important; } }

.lectors .media {
  margin-top: 30px; }
  @media only screen and (max-width: 1100px) {
    .lectors .media {
      margin-top: 60px; } }

.lectors p {
  font-size: 1.6rem;
  padding-left: 0;
  margin-top: 1.5rem; }

.lectors h6.heading {
  margin-bottom: 70px; }

.lectors h6.inner {
  font-size: 2.4rem; }
  @media only screen and (max-width: 768px) {
    .lectors h6.inner {
      text-align: center; } }

.lectors .media img {
  position: relative;
  max-width: 300px;
  width: 100%; }

.lectors .tags {
  margin-top: 10px;
  margin-bottom: 36px; }
  .lectors .tags strong {
    text-decoration: none; }
  .lectors .tags a {
    color: #000;
    font-style: normal;
    text-decoration: underline;
    font-family: 'Georgia';
    font-weight: bold; }

.lectors .img-lector {
  text-align: center;
  position: relative; }
  @media only screen and (min-width: 1100px) {
    .lectors .img-lector {
      bottom: 50px; } }

a:hover {
  color: #EB5757; }

*, .container-fluid {
  margin: 0;
  outline: none;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel img {
  height: auto !important; }

.row {
  margin: 0 !important; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex_box, .flex_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.slider.inner {
  min-width: 320px;
  display: block;
  text-align: left;
  width: 100%;
  background: url("../img/slide-1.jpg") no-repeat;
  position: relative;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 80px;
  padding-top: 300px;
  color: #fff; }
  .slider.inner h2 {
    clear: both;
    margin-top: 30px; }
  .slider.inner .info {
    z-index: 1;
    left: -20px; }
    @media only screen and (max-width: 1200px) {
      .slider.inner .info {
        left: 0; } }
  .slider.inner .line {
    margin-top: 15px;
    margin-bottom: 25px; }
    .slider.inner .line hr {
      width: 150px;
      float: left;
      margin-right: 20px; }
    .slider.inner .line span {
      font-family: "Montserrat-Bold";
      font-size: 2.2rem;
      position: relative;
      top: 8px; }
  .slider.inner .desc {
    margin: 0;
    clear: both; }
  .slider.inner::after {
    content: "";
    background: rgba(8, 81, 134, 0.7);
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0; }
  .slider.inner::before {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    position: absolute;
    height: 100px;
    left: 0;
    top: 0; }
  .slider.inner .info {
    margin-top: 0;
    position: relative; }
  .slider.inner .autor {
    font-size: 1.4rem;
    font-family: "Montserrat-Regular";
    margin-top: 0; }
    .slider.inner .autor span {
      font-size: 1.6rem; }
    .slider.inner .autor img {
      float: left;
      margin-right: 20px;
      position: relative;
      bottom: 8px; }
    .slider.inner .autor span {
      margin-left: 0; }

.review-movie .owl-carousel img {
  margin-bottom: 0 !important; }

.review-movie .owl-stage-outer {
  box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.22); }

.review-movie footer {
  margin-top: 30px; }

.review-movie .body {
  clear: both;
  padding: 54px 0 74px; }
  .review-movie .body img {
    width: 100%;
    margin-bottom: 55px; }
  .review-movie .body p {
    padding: 0 100px 20px; }
    @media only screen and (max-width: 768px) {
      .review-movie .body p {
        padding: 0 0 20px; } }
  .review-movie .body .iframe-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    margin-top: 55px;
    margin-bottom: 30px; }
  .review-movie .body iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }

.review-movie .title img {
  float: left;
  margin-right: 58px; }
  @media only screen and (max-width: 480px) {
    .review-movie .title img {
      margin-bottom: 20px; } }

.review-movie h3 {
  font-family: "Arimo-Bold";
  font-size: 2.8rem;
  line-height: 29px; }

a:hover {
  color: #EB5757; }

*, .container-fluid {
  margin: 0;
  outline: none;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel img {
  height: auto !important; }

.row {
  margin: 0 !important; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex_box, .flex_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.triko .body {
  padding-bottom: 0; }

.triko .autor.footer img {
  float: left;
  margin-right: 20px;
  width: 64px; }

.triko .autor.footer span {
  margin-left: 0; }

.triko .body img {
  margin: 0px 0 20px; }

.triko .concert {
  padding-bottom: 89px;
  padding-left: 100px; }
  @media only screen and (max-width: 768px) {
    .triko .concert {
      padding-left: 0; } }

.triko .head {
  border-bottom: 1px solid #333; }
  .triko .head .autor {
    margin-top: 10px; }
    @media only screen and (max-width: 1000px) {
      .triko .head .autor {
        text-align: center; } }
    .triko .head .autor img {
      float: left;
      margin-right: 20px; }
      @media only screen and (max-width: 1000px) {
        .triko .head .autor img {
          display: inline-block;
          float: none;
          margin-bottom: 20px; } }
    .triko .head .autor span {
      margin-left: 0; }

.triko .section-title-small-line h6 {
  padding-right: 100px;
  font-family: "Merriweather-Bold";
  font-size: 4.2rem;
  line-height: 48px;
  text-transform: none; }

.triko .section-title-small-line hr {
  border-color: #000; }

.triko .quote {
  display: block;
  padding-bottom: 40px;
  font-family: "Montserrat-Regular";
  font-size: 2rem;
  line-height: 24px; }

.triko .pre {
  margin-bottom: 64px;
  font-size: 2.4rem; }

.triko .pl {
  padding-left: 100px; }
  @media only screen and (max-width: 768px) {
    .triko .pl {
      padding-left: 30px; } }

.triko footer {
  margin-top: 30px; }

a:hover {
  color: #EB5757; }

*, .container-fluid {
  margin: 0;
  outline: none;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel img {
  height: auto !important; }

.row {
  margin: 0 !important; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex_box, .flex_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.clearfix {
  display: block; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  margin: 0;
  padding: 0; }

.course {
  min-width: 320px; }
  .course .owl-stage {
    padding-left: 0 !important; }
  @media only screen and (max-width: 992px) {
    .course .user-img-upload {
      margin-top: 20px; }
      .course .user-img-upload img {
        width: 50%; } }
  .course .user-img-upload, .course .user-img-upload p {
    position: relative;
    left: 20px; }
  .course .owl-video-wrapper {
    height: 400px !important;
    margin-bottom: 14px; }
  .course h2 {
    font-family: "Merriweather-Bold";
    font-size: 5rem;
    line-height: 45px;
    color: #EB5757;
    margin-bottom: 40px;
    float: left; }
  .course .media-img {
    border-bottom: 1px solid #ccc; }
    @media only screen and (max-width: 992px) {
      .course .media-img {
        border-bottom: none; } }
  .course .mr {
    margin-right: 20px; }
  .course .block {
    background: url(../img/title-decor.png) no-repeat;
    background-position: bottom center; }
  @media only screen and (min-width: 992px) {
    .course .media-body, .course .autor-subject {
      min-height: 360px; } }
  .course .autor-subject {
    text-align: left; }
    .course .autor-subject p {
      position: relative;
      left: 20px; }
    @media only screen and (min-width: 992px) {
      .course .autor-subject {
        position: relative; } }
    @media only screen and (max-width: 992px) {
      .course .autor-subject {
        padding-bottom: 30px;
        text-align: center; } }
    .course .autor-subject img {
      display: inline-block;
      position: relative; }
      @media only screen and (max-width: 992px) {
        .course .autor-subject img {
          left: 20px; } }
    @media only screen and (min-width: 992px) {
      .course .autor-subject {
        width: calc(25% - 20px); } }
    @media only screen and (max-width: 992px) {
      .course .autor-subject {
        width: 100% !important; } }
  @media only screen and (max-width: 992px) {
    .course .media-body {
      background: none !important; } }
  .course .white .information {
    padding-bottom: 10px !important;
    background: #fff !important; }
    .course .white .information h5 {
      position: relative;
      bottom: 10px !important; }
    .course .white .information .crew {
      background: #fff !important; }
      @media only screen and (max-width: 992px) {
        .course .white .information .crew {
          transform: skewY(-4deg) !important;
          height: 100px !important;
          width: 101% !important; } }
  .course h4 {
    font-family: "Merriweather-Bold";
    font-size: 2.4rem;
    line-height: 30px;
    margin-bottom: 20px; }
  .course .media-body p {
    font-size: 1.6rem !important;
    line-height: 22px; }
  .course .autor-subject p {
    font-size: 1.6rem;
    font-family: "Arimo-BoldItalic";
    line-height: 18px;
    margin-top: 15px;
    text-decoration: underline; }
  .course .permalink {
    float: right;
    font-family: "Merriweather-Regular";
    color: #333;
    font-size: 1.3rem;
    line-height: 15px;
    font-style: normal;
    position: relative;
    top: 20px; }
    .course .permalink::after {
      content: "";
      display: inline-block;
      margin-left: 20px;
      width: 24px;
      height: 11px;
      transform: rotate(180deg);
      background: url("../img/icons/vector.png") no-repeat;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: 50% 50%; }
  .course .lections-inner {
    border-bottom: 2px solid #eee;
    padding-bottom: 70px; }
    @media only screen and (max-width: 768px) {
      .course .lections-inner {
        padding-bottom: 20px; } }
  .course .lections h3 {
    font-size: 3.8rem;
    line-height: 43px;
    font-family: "Merriweather-Regular"; }
  .course .lections li {
    list-style: decimal;
    line-height: 14px;
    margin-bottom: 15px; }
    .course .lections li a {
      font-family: "Rubik-Bold";
      font-size: 1.2rem;
      position: relative;
      bottom: 2px;
      color: #000;
      font-style: normal;
      transition: .3s ease; }
      .course .lections li a:hover {
        text-decoration: none;
        color: #EB5757; }
  .course .lections li.active {
    border-right: 2px solid #EB5757; }
  .course .lections li.active, .course .lections li.active a {
    color: #EB5757; }
  .course .heading {
    margin-top: 44px;
    margin-bottom: 47px; }
    .course .heading span {
      font-size: 1.4rem;
      font-family: "Rubik";
      margin-left: 10px; }
  .course .lection-info .heading {
    padding-top: 8px;
    box-sizing: border-box; }
  .course .lection-info h5 {
    font-size: 2.4rem;
    font-family: "Rubik-Bold";
    margin-bottom: 20px;
    float: left;
    width: 82%; }
    @media only screen and (max-width: 600px) {
      .course .lection-info h5 {
        float: none;
        width: 100%; } }
  .course .lection-info .time {
    float: right;
    display: block;
    width: 18%;
    position: relative;
    top: 4px;
    font-family: "Charter";
    font-size: 1.6rem;
    text-align: right; }
    @media only screen and (max-width: 600px) {
      .course .lection-info .time {
        float: none;
        width: 100%;
        text-align: left;
        margin-bottom: 20px; } }
  .course .lection-info p {
    font-family: "Arimo";
    font-size: 1.4rem;
    line-height: 19px; }
  .course .lection-info .slide {
    width: 100%;
    position: relative;
    height: auto; }
  .course .lection-info .owl-nav {
    display: block !important;
    top: -60px !important;
    width: 0px !important;
    left: 100% !important; }
    .course .lection-info .owl-nav .owl-prev {
      background: url("../img/icons/vector2.png"); }
      @media only screen and (max-width: 768px) {
        .course .lection-info .owl-nav .owl-prev {
          left: -100px; } }
      .course .lection-info .owl-nav .owl-prev:hover {
        background: url("../img/icons/vector.png"); }
    .course .lection-info .owl-nav .owl-next {
      left: -40px;
      background: url("../img/icons/vector2.png"); }
      .course .lection-info .owl-nav .owl-next:hover {
        background: url("../img/icons/vector.png"); }
  .course .listen {
    padding-top: 46px;
    padding-bottom: 85px;
    text-align: center; }
    .course .listen .video-center {
      display: inline-block; }
    .course .listen .video {
      margin-bottom: 30px;
      position: relative; }
      @media only screen and (min-width: 992px) {
        .course .listen .video iframe {
          width: 400px;
          height: 300px; } }
    .course .listen h3 {
      min-height: 36px;
      text-align: center;
      line-height: 21px;
      font-family: "Merriweather-Regular";
      font-size: 2.4rem;
      margin-bottom: 53px; }
    .course .listen h3 {
      font-family: "Rubik-Bold";
      font-size: 1.8rem;
      margin-bottom: 18px; }
  .course .live h4 {
    text-align: center;
    font-size: 2.4rem;
    line-height: 27px;
    font-family: "Merriweather-Regular"; }
  .course .live .box {
    padding: 15px;
    border: 1px solid #E0E0E0;
    margin-bottom: 68px;
    position: relative;
    padding-right: 100px; }
    @media only screen and (max-width: 480px) {
      .course .live .box {
        padding: 15px; } }
    .course .live .box h6 {
      font-family: "Rubik-Bold";
      font-size: 1.8rem; }
    .course .live .box p {
      font-family: "Rubik";
      font-size: 1.8rem;
      line-height: 26px;
      margin-bottom: 20px; }
    .course .live .box .vector {
      transition: .3s ease all;
      cursor: pointer;
      display: block;
      height: 40px;
      background: url(../img/icons/vector.png) no-repeat center;
      background-size: 60%;
      transform: rotate(180deg);
      width: 40px;
      border: 1px solid #000;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px;
      text-align: center; }
      .course .live .box .vector:hover {
        transform: rotate(180deg) scale(1.1);
        opacity: .5; }
      @media only screen and (min-width: 480px) {
        .course .live .box .vector {
          position: absolute;
          right: 30px;
          bottom: 30px; } }
    .course .live .box img {
      width: 20px;
      height: 12px;
      position: relative;
      top: 5px;
      transform: rotate(180deg); }

a:hover {
  color: #EB5757; }

*, .container-fluid {
  margin: 0;
  outline: none;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel img {
  height: auto !important; }

.row {
  margin: 0 !important; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex_box, .flex_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.videoblog {
  min-width: 320px; }
  .videoblog h3 {
    font-family: "Montserrat-Regular";
    font-size: 1.4rem; }
  .videoblog h2 {
    font-family: "Montserrat-Bold";
    font-size: 2.8rem;
    line-height: 34px; }
  .videoblog section.video {
    margin-top: 54px; }
  .videoblog .item-video {
    padding-bottom: 38px; }
    .videoblog .item-video h3 {
      font-family: "Montserrat-Bold";
      font-size: 1.8rem;
      line-height: 22px; }
    .videoblog .item-video p.date {
      font-family: "Montserrat-Regular";
      font-size: 1.4rem;
      margin-bottom: 16px; }
    .videoblog .item-video p.info {
      font-size: 1.6rem;
      line-height: 23px; }
  .videoblog .no-padding {
    padding-left: 0; }
  .videoblog .iframe {
    position: relative;
    height: 0;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 56%; }
    .videoblog .iframe iframe {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%; }

a:hover {
  color: #EB5757; }

*, .container-fluid {
  margin: 0;
  outline: none;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel img {
  height: auto !important; }

.row {
  margin: 0 !important; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex_box, .flex_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

header {
  padding-top: 45px;
  text-align: center;
  position: absolute;
  z-index: 100;
  display: block;
  width: 100%; }
  @media only screen and (max-width: 1100px) {
    header {
      padding-left: 0 !important;
      padding-right: 0 !important; } }
  header .bar-mobile {
    z-index: 101;
    position: absolute;
    right: 40px; }
    @media only screen and (max-width: 1100px) {
      header .bar-mobile {
        display: inline-block;
        width: 28px;
        height: 17px; } }
    @media only screen and (max-width: 320px) {
      header .bar-mobile {
        left: 250px; } }
    header .bar-mobile span {
      height: 2px; }
      header .bar-mobile span .middle {
        position: relative;
        top: 10px; }
  header .bar-mobile.inner span {
    background: #000; }
  header input[type="text"] {
    font-size: 55px;
    display: inline-block;
    font-family: "Lato";
    font-weight: 100;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.6rem;
    font-family: "Rubik";
    height: 24px;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
    cursor: pointer; }
    @media only screen and (max-width: 1100px) {
      header input[type="text"] {
        width: 100% !important;
        top: 40px; } }
  header input[type="text"]:focus:hover {
    border-bottom: 2px solid #fff; }
  header input[type="text"].search-black:focus:hover {
    border-bottom: 2px solid #333; }
    @media only screen and (max-width: 1100px) {
      header input[type="text"].search-black:focus:hover {
        border-bottom: 2px solid #fff !important; } }
  header input[type="text"] {
    display: none;
    width: 790px;
    border-bottom: 2px solid #fff;
    right: 30px;
    z-index: 1;
    cursor: text;
    color: #fff;
    font-size: 1.6rem;
    font-family: "Rubik";
    opacity: .8; }
  header input[type="text"].search-black {
    border-bottom: 2px solid #333; }
    @media only screen and (max-width: 1100px) {
      header input[type="text"].search-black {
        border-bottom: 2px solid #fff !important; } }
  header input.search-black[type="text"] {
    color: #333; }
    @media only screen and (max-width: 1100px) {
      header input.search-black[type="text"] {
        color: #fff; } }
  header input[type="text"]::placeholder {
    color: #fff; }
    @media only screen and (max-width: 1100px) {
      header input[type="text"]::placeholder {
        color: #fff !important; } }
  header input.search-black[type="text"]::placeholder {
    color: #333; }
  header input[type="submit"] {
    display: inline-block;
    color: red;
    float: right;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .4s ease; }
    @media only screen and (max-width: 1100px) {
      header input[type="submit"] {
        display: inline-block;
        position: relative;
        left: -25px;
        float: none; } }
  header input[type="submit"]:hover {
    opacity: 0.8; }
  header .search {
    width: 24px;
    height: 24px;
    background: url(../img/icons/search.svg);
    opacity: 0.62;
    transition: all .3s ease;
    border: none;
    outline: none;
    cursor: pointer; }
    @media only screen and (max-width: 1100px) {
      header .search {
        display: inline-block;
        position: relative;
        right: 30px; } }
    header .search:hover {
      opacity: 1; }
  header .search.search-black {
    background: url(../img/icons/search-black.png); }
  @media only screen and (max-width: 1100px) {
    header {
      padding-left: 40px;
      padding-right: 40px;
      text-align: left; } }
  header .header {
    display: inline-block; }
    @media only screen and (max-width: 1100px) {
      header .header {
        width: 100%; } }
  @media only screen and (max-width: 1100px) {
    header .visibility-no {
      visibility: visible !important; } }
  @media only screen and (min-width: 1100px) {
    header .vis-high {
      visibility: hidden !important; } }
  header .logo {
    font-style: normal;
    float: left;
    max-width: 200px;
    position: relative;
    bottom: 4px;
    font-family: "Montserrat-Regular";
    font-size: 2.1rem;
    text-transform: uppercase;
    color: #fff; }
    @media only screen and (max-width: 1044px) {
      header .logo {
        float: none;
        margin-bottom: 15px; } }
    header .logo:hover {
      text-decoration: none;
      color: #fff; }
    @media only screen and (max-width: 1100px) {
      header .logo {
        left: 45px; } }
  header nav {
    float: left; }
    header nav .active {
      padding-bottom: 7px;
      border-bottom: 2px solid #333; }
    @media only screen and (max-width: 1044px) {
      header nav {
        float: none;
        position: relative;
        bottom: 10px; } }
    @media only screen and (max-width: 1100px) {
      header nav {
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        float: none;
        position: absolute;
        top: 0px;
        height: 100vh;
        min-height: 560px;
        padding-top: 50px;
        z-index: 100;
        text-align: center; } }
    @media only screen and (max-width: 1101px) {
      header nav {
        display: none; } }
    @media only screen and (min-width: 1101px) {
      header nav {
        display: block !important; } }
    header nav li {
      float: left;
      padding-right: 26px; }
      @media only screen and (max-width: 1100px) {
        header nav li {
          float: none;
          margin-bottom: 20px; } }
      header nav li:first-child {
        margin-left: 10px; }
        @media only screen and (max-width: 1100px) {
          header nav li:first-child {
            margin-left: 0; } }
      header nav li:last-child {
        position: relative;
        left: 40px; }
      @media only screen and (max-width: 1120px) {
        header nav li {
          padding-right: 15px; } }
      header nav li:last-child {
        padding-right: 0; }
      header nav li a {
        opacity: .62;
        transition: all .3s ease;
        color: #fff;
        font-style: normal;
        font-family: "Montserrat-Regular";
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase; }
        header nav li a:hover {
          opacity: 1;
          color: #fff;
          text-align: underline; }

header.inner {
  position: relative;
  margin-bottom: 50px; }
  header.inner nav li {
    padding-right: 21px; }

header.inner .header a {
  color: #000; }

@media only screen and (max-width: 1100px) {
  header.inner .header li a {
    color: #fff; } }

@media only screen and (max-width: 1100px) {
  header.inner .header .search {
    background: url("../img/icons/search.svg"); } }

.toggle-white {
  background: #fff !important; }

a:hover {
  color: #EB5757; }

*, .container-fluid {
  margin: 0;
  outline: none;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel img {
  height: auto !important; }

.row {
  margin: 0 !important; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex_box, .flex_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

footer {
  height: 300px;
  text-align: center;
  margin-top: 110px;
  min-width: 320px; }
  footer p.blog {
    font-size: 1rem; }
  footer p.blog, footer p.partners {
    font-family: "Rubik";
    line-height: 12px; }
  footer p.partners {
    font-size: 1.2rem; }
  footer ul {
    padding-left: 0; }
  footer nav {
    padding: 20px 20px 10px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000; }
    footer nav a {
      color: #000;
      font-family: "Rubik";
      font-style: normal;
      font-size: 1.2rem; }
      footer nav a:hover {
        color: #000; }
    footer nav li {
      padding-left: 25px;
      text-transform: uppercase;
      display: inline; }
      footer nav li:first-child {
        padding-left: 0; }
  footer .logo {
    font-family: "Montserrat-Regular";
    font-size: 2.1rem;
    margin: 40px 0 10px; }
  footer .section-social {
    font-family: "Rubik";
    font-size: 1rem;
    text-transform: uppercase; }
    footer .section-social img {
      margin-top: 30px; }
    footer .section-social a {
      padding-left: 50px; }
      footer .section-social a.first {
        padding-left: 0; }
    footer .section-social .first-img {
      padding-left: 0; }
  footer .section-partners {
    margin-top: 30px;
    font-family: "Rubik";
    font-size: 1.2rem;
    text-transform: uppercase; }
    footer .section-partners img {
      margin-top: 20px;
      padding: 35px; }
    footer .section-partners .filarmony {
      position: relative;
      top: 4px; }

.section-button.media a {
  position: absolute;
  bottom: 20px;
  left: 15px; }

.section-button.media p {
  position: absolute;
  bottom: 20px;
  right: 0;
  font-family: "Montserrat-Regular";
  font-size: 1.2rem; }

.visibility-no {
  visibility: hidden; }

body {
  color: #000;
  font-size: 1.8rem; }
  body p {
    line-height: 30px;
    font-size: 1.8rem;
    font-family: Georgia, sans-serif;
    padding-left: 0; }

.container {
  width: 985px;
  padding: 0; }
  @media only screen and (max-width: 1000px) {
    .container {
      width: 90%; } }

.body {
  clear: both;
  padding: 54px 0 74px; }
  .body img {
    width: 100%;
    margin-bottom: 55px; }
  .body u {
    display: block;
    margin-bottom: 20px;
    color: #333; }
  .body p {
    margin-bottom: 20px; }

.no-padding-left {
  padding-left: 0 !important; }

.clear {
  display: block;
  clear: both; }

.user-img-upload img {
  width: 100%;
  border-radius: 50% 50% 50% 0px;
  box-shadow: 6px 9px 28px -6px rgba(0, 0, 0, 0.33); }

.section-title-inner {
  margin-bottom: 40px;
  overflow: auto;
  min-width: 320px; }
  @media only screen and (max-width: 768px) {
    .section-title-inner {
      text-align: center; } }
  @media only screen and (max-width: 768px) {
    .section-title-inner h6 {
      float: none !important;
      margin-bottom: 10px; } }

ul.heading-list {
  float: right;
  position: relative;
  display: table;
  min-width: 320px; }
  @media only screen and (max-width: 768px) {
    ul.heading-list {
      padding-left: 0;
      width: 100%;
      text-align: center; } }
  @media only screen and (max-width: 480px) {
    ul.heading-list {
      text-align: center;
      display: block; } }
  ul.heading-list li {
    display: inline;
    padding-left: 20px; }
    @media only screen and (max-width: 480px) {
      ul.heading-list li {
        float: none;
        display: block;
        padding-left: 0; } }
    ul.heading-list li a {
      color: #000;
      opacity: .5;
      font-family: "Merriweather-Regular";
      font-size: 1.4rem; }
      ul.heading-list li a:hover {
        opacity: 1; }
      ul.heading-list li a.active {
        opacity: 1;
        text-decoration: underline; }

h3 {
  color: #000;
  font-family: "Montserrat-Bold";
  font-size: 2rem;
  text-transform: uppercase; }

h2 {
  font-size: 3.8rem; }

h1 {
  font-size: 4.8rem; }

h6 {
  font-size: 2.8rem;
  font-family: "Montserrat-Bold";
  line-height: 34px;
  text-transform: uppercase; }

a {
  font-family: "Charter";
  text-decoration: none;
  font-style: italic; }
  a:hover {
    text-decoration: underline; }

.reverse {
  color: #fff; }

.line {
  margin-top: 15px;
  margin-bottom: 25px; }
  .line hr {
    width: 150px;
    float: left;
    margin-right: 20px; }
  .line span {
    font-family: "Montserrat-Bold";
    font-size: 2.2rem;
    position: relative;
    top: 8px; }

header.main nav {
  position: relative;
  right: 15px; }

.autor {
  margin-top: 20px; }
  .autor span {
    display: inline-block;
    margin-left: 20px;
    font-family: "Montserrat-Regular";
    font-size: 1.6rem; }

.autor-rev {
  margin-top: 60px; }

.item-blocks {
  margin-top: 30px; }

.section-title {
  background: url("../img/title-decor.png") no-repeat center;
  text-align: center;
  min-height: 4px;
  clear: both; }
  .section-title h3 {
    padding: 0 35px;
    background: #fff;
    display: inline-block; }

.content-wrapper {
  margin-top: 75px !important; }

@media only screen and (max-width: 1100px) {
  .first-row {
    margin-top: 45px !important; } }

.section-button {
  text-align: center;
  height: 60px;
  clear: both;
  min-width: 260px; }

a.button {
  display: inline-block;
  margin-top: 30px;
  border: 2px solid #000;
  border-radius: 6px;
  position: relative;
  font-style: normal;
  font-size: 1.4rem;
  color: #000;
  background: #fff;
  padding: 10px 15px;
  font-family: "Montserrat-Bold";
  text-transform: uppercase; }
  a.button:hover {
    cursor: pointer;
    text-decoration: underline; }
  a.button::after {
    content: "// ///";
    display: inline-block;
    margin-left: 50px;
    font-family: "Montserrat-Bold"; }

.content.other .head .col-sm-9 {
  padding-left: 0; }

.content.other .autor-rev {
  text-align: right;
  position: relative;
  left: 45px; }

.section-title-with-line {
  padding-bottom: 34px;
  display: inline-block;
  border-bottom: 1px solid #333;
  position: relative; }
  .section-title-with-line::after {
    content: "///";
    display: block;
    position: absolute;
    padding-left: 20px;
    font-family: "Montserrat-Bold";
    font-size: 2.2rem;
    background: #fff;
    bottom: -16px;
    right: -14px;
    z-index: 2;
    color: #333; }

#owl-carousel {
  height: 496px !important;
  min-width: 320px; }
  @media only screen and (min-width: 1101px) {
    #owl-carousel {
      display: none; } }
  #owl-carousel .owl-controls {
    text-align: center; }
  #owl-carousel .owl-dots {
    height: 48px;
    background: url(../img/nav-bg.png) repeat-x;
    position: relative; }
  #owl-carousel .owl-dot {
    padding: 0 2px;
    width: 55px;
    height: 8px;
    background: #BDBDBD;
    display: inline-block;
    transform: skew(-30deg);
    cursor: pointer;
    margin-top: 20px;
    margin-left: 3px; }
  #owl-carousel .owl-dot.active {
    background: #EB5757; }
  #owl-carousel .owl-nav {
    width: 100%;
    position: relative;
    bottom: 300px; }
    #owl-carousel .owl-nav .owl-next {
      cursor: pointer;
      position: absolute;
      right: 30px;
      height: 64px;
      width: 64px;
      background: #000;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      -ms-border-radius: 32px;
      border-radius: 32px; }
      @media only screen and (max-width: 600px) {
        #owl-carousel .owl-nav .owl-next {
          background: rgba(0, 0, 0, 0);
          right: 5px; }
          #owl-carousel .owl-nav .owl-next:hover {
            background: rgba(0, 0, 0, 0.4); } }
      #owl-carousel .owl-nav .owl-next::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../img/icons/arrow-right.svg) no-repeat center center;
        z-index: 100; }
    #owl-carousel .owl-nav .owl-prev {
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      -ms-border-radius: 32px;
      border-radius: 32px;
      cursor: pointer;
      position: absolute;
      left: 30px;
      height: 64px;
      width: 64px;
      background: #000; }
      @media only screen and (max-width: 600px) {
        #owl-carousel .owl-nav .owl-prev {
          background: rgba(0, 0, 0, 0);
          left: 5px; }
          #owl-carousel .owl-nav .owl-prev:hover {
            background: rgba(0, 0, 0, 0.4); } }
      #owl-carousel .owl-nav .owl-prev::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../img/icons/arrow-left.svg) no-repeat center center;
        z-index: 100; }
  #owl-carousel .info-mob {
    position: relative;
    height: inherit; }
    #owl-carousel .info-mob::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(109, 27, 110, 0.7);
      z-index: 1; }
  #owl-carousel .user-pic {
    width: 100px; }
  #owl-carousel .wrap {
    position: absolute;
    padding: 150px 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    color: #fff;
    text-align: center; }
    #owl-carousel .wrap h2 {
      line-height: 1.1;
      font-family: "Merriweather-Bold";
      font-size: 2.5rem;
      margin-top: 17px; }
    #owl-carousel .wrap .review {
      font-family: "Montserrat-Bold";
      fsize: 14px;
      text-transform: uppercase;
      padding-bottom: 4px;
      display: inline-block;
      border-bottom: 2px solid #fff; }
    #owl-carousel .wrap .desc {
      font-family: "Montserrat-Light";
      font-size: 1.9rem;
      margin-top: 14px; }
    #owl-carousel .wrap .user-pic {
      display: inline-block;
      width: 64px; }

@media only screen and (max-width: 1100px) {
  .stage {
    display: none !important; } }

.slider .autor {
  margin-top: 60px; }
  .slider .autor span {
    display: inline-block;
    margin-left: 20px;
    font-family: "Montserrat-Regular";
    font-size: 1.6rem; }

.slider .desc {
  font-family: "Montserrat-Light";
  font-size: 1.9rem;
  margin-top: 14px; }

.slider .info {
  z-index: 101;
  position: absolute;
  text-align: left;
  left: 72px;
  margin-top: 190px; }

.slider p {
  margin-left: 0; }

.slider h2 {
  line-height: 1.1;
  font-family: "Merriweather-Bold";
  font-size: 32px;
  margin-top: 17px; }

.slider .review {
  font-family: "Montserrat-Bold";
  fsize: 14px;
  text-transform: uppercase;
  padding-bottom: 4px;
  display: inline-block;
  border-bottom: 2px solid #fff; }

.slider ul {
  color: #ECECEC;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.slider p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.over-left {
  width: calc((100% - 825px) / 2 + 86px);
  height: 496px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -87px;
  top: 0;
  z-index: 10;
  transform: skew(-19.3deg); }
  @media only screen and (max-width: 1100px) {
    .over-left {
      display: none; } }

.stage button {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -32px;
  outline: none;
  height: 64px;
  width: 64px;
  border-color: transparent;
  border-radius: 32px;
  background: #000; }
  @media only screen and (max-width: 1100px) {
    .stage button {
      display: none; } }
  .stage button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.stage button.prev {
  left: calc((100% - 825px) / 2 - 41px); }
  .stage button.prev::after {
    background: url(../img/icons/arrow-left.svg) no-repeat center center; }

.stage button.next {
  right: calc((100% - 825px) / 2 - 29px); }
  .stage button.next::after {
    background: url(../img/icons/arrow-right.svg) no-repeat center center; }

.over-right {
  width: calc((100% - 825px) / 2 + 79px);
  height: 496px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: -80px;
  top: 0;
  z-index: 10;
  transform: skew(-19.3deg); }
  @media only screen and (max-width: 1100px) {
    .over-right {
      display: none; } }

.slider .hdi {
  height: 496px;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden; }

.slider a {
  color: #c48ec8;
  -webkit-transition: color 0.25s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: color 0.25s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: color 0.25s cubic-bezier(0.86, 0, 0.07, 1);
  transition: color 0.25s cubic-bezier(0.86, 0, 0.07, 1); }

.slider button {
  color: #FFF;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background: #c48ec8;
  padding: 8px 14px; }

.slider ul.animate {
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: transform 0.75s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.75s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.75s cubic-bezier(0.86, 0, 0.07, 1); }

.stage {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 12%;
  text-align: center;
  overflow: hidden; }

.sldr {
  max-width: 825px;
  margin: 0 auto;
  overflow: visible;
  position: relative;
  clear: both;
  display: block; }
  .sldr > ul > li {
    float: left;
    display: block;
    width: 895px;
    position: relative; }
  .sldr .skew::after {
    position: absolute;
    opacity: 0.7;
    content: "";
    display: block;
    background: #6D1B6E;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100; }

.slider div.skew {
  max-width: 825px;
  margin: 0 auto;
  border: 1px solid #fff;
  display: block;
  overflow: hidden;
  -webkit-transform: skewX(-19.3deg);
  -moz-transform: skewX(-19.3deg);
  -ms-transform: skewX(-19.3deg);
  transform: skewX(-19.3deg); }
  .slider div.skew > div.wrap {
    display: block;
    overflow: hidden;
    -webkit-transform: skewX(19.3deg);
    -moz-transform: skewX(19.3deg);
    -ms-transform: skewX(19.3deg);
    transform: skewX(19.3deg);
    margin-left: -10.1%;
    width: 122%;
    height: 496px; }

.sldr .wrap img {
  max-width: 1000px;
  width: 100%;
  height: auto;
  display: block;
  width: 965px;
  position: relative;
  left: -30px;
  margin: 0 auto; }

.selectors {
  display: block; }
  .selectors li {
    margin-top: 20px;
    font-size: 46px;
    line-height: 32px;
    display: inline;
    padding: 0 2px;
    width: 55px;
    height: 8px;
    background: #EB5757;
    display: inline-block;
    transform: skew(-30deg);
    cursor: pointer; }
    .selectors li a {
      text-decoration: none; }
    .selectors li.focalPoint {
      background: #BDBDBD; }

.captions div {
  left: 200%;
  position: fixed;
  opacity: 0;
  -webkit-transition: opacity 0.75s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: opacity 0.75s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: opacity 0.75s cubic-bezier(0.86, 0, 0.07, 1);
  transition: opacity 0.75s cubic-bezier(0.86, 0, 0.07, 1); }
  .captions div.focalPoint {
    opacity: 1;
    left: inherit;
    position: static; }

.slider .clear {
  display: block;
  width: 100%;
  height: 0px;
  overflow: hidden;
  clear: both; }

.selector-bg {
  height: 48px;
  background: url(../img/nav-bg.png) repeat-x;
  position: relative;
  bottom: 48px;
  z-index: -10; }

.content {
  margin-top: 30px; }

.section-title {
  margin-bottom: 25px; }

.crew {
  height: 40px; }
  @media only screen and (max-width: 768px) {
    .crew {
      height: 80px !important; } }

.crew-reverse {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 0;
  top: -38px;
  width: 100%;
  height: 40px;
  transform-origin: top left;
  transform: skewY(7deg);
  z-index: 0; }
  @media only screen and (max-width: 768px) {
    .crew-reverse {
      top: -80px; } }

.owl-style.inner {
  margin-bottom: 86px;
  position: relative; }
  @media only screen and (max-width: 1200px) {
    .owl-style.inner {
      width: 80%;
      margin: 0 auto 86px; } }
  @media only screen and (max-width: 480px) {
    .owl-style.inner {
      width: 100%; } }
  .owl-style.inner .owl-nav {
    width: 100%;
    height: 22px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 0; }
    @media only screen and (max-width: 480px) {
      .owl-style.inner .owl-nav {
        display: none; } }
  .owl-style.inner .owl-prev {
    position: absolute;
    left: -100px;
    width: 48px;
    height: 22px;
    background: url(../img/icons/vector.png); }
    @media only screen and (max-width: 768px) {
      .owl-style.inner .owl-prev {
        left: -50px; } }
  .owl-style.inner .owl-next {
    position: absolute;
    right: -100px;
    width: 48px;
    height: 22px;
    background: url(../img/icons/vector.png);
    transform: rotate(180deg); }
    @media only screen and (max-width: 768px) {
      .owl-style.inner .owl-next {
        right: -50px; } }
  .owl-style.inner .owl-dots {
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: -49px;
    text-align: center; }
    .owl-style.inner .owl-dots .owl-dot {
      display: inline-block;
      padding: 0 10px; }
    .owl-style.inner .owl-dots .owl-dot::after {
      content: "/";
      display: inline;
      font-family: "Montserrat-Bold";
      font-size: 2.2rem;
      color: #cecece; }
    .owl-style.inner .owl-dots .owl-dot.active::after {
      color: #EB5757; }

.media.blocks {
  width: calc(100% + 20px);
  position: relative;
  left: -10px;
  min-width: 320px; }
  .media.blocks a.inform:hover {
    text-decoration: none; }
  @media only screen and (max-width: 768px) {
    .media.blocks .item {
      margin-bottom: 30px; } }
  .media.blocks .image-src img {
    width: 100%; }
  .media.blocks .img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; }
  .media.blocks div[class^="col"] {
    padding: 0 10px; }
  .media.blocks .information {
    padding-left: 15px;
    font-style: normal;
    font-size: 1.4rem; }
    .media.blocks .information p {
      font-size: 1.4rem;
      font-family: "Charter"; }
    .media.blocks .information h5 {
      font-family: "Merriweather-Regular";
      opacity: .99;
      margin-left: 0 !important; }
    .media.blocks .information p.date {
      font-family: "Charter";
      font-size: 1.4rem;
      font-style: italic;
      opacity: .99; }
    .media.blocks .information p.autor {
      font-family: "Merriweather-Regular";
      font-size: 1.2rem;
      position: relative;
      top: 25px; }
  .media.blocks .item .information {
    position: relative;
    width: 100%; }
  .media.blocks .block-red .information {
    background: #EB5757;
    padding-bottom: 40px;
    color: #fff;
    padding-right: 25px;
    text-align: right;
    box-sizing: border-box; }
    .media.blocks .block-red .information h5 {
      font-size: 2.8rem; }
    .media.blocks .block-red .information .crew {
      box-sizing: border-box;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background-color: #EB5757;
      transform-origin: top left;
      transform: skewY(-7deg);
      z-index: 0; }
    .media.blocks .block-red .information .img-pic {
      position: absolute;
      left: 10px;
      top: -60px;
      border: 4px solid #EB5757;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      -ms-border-radius: 32px;
      border-radius: 32px; }
  .media.blocks .block-red.item.white .information {
    background: #F2F2F2;
    color: #000; }
    .media.blocks .block-red.item.white .information .crew {
      background: #F2F2F2; }
    .media.blocks .block-red.item.white .information .img-pic {
      border: none;
      margin-top: 10px; }
    .media.blocks .block-red.item.white .information h5 {
      opacity: 0.99; }
  .media.blocks .block-blue .information {
    background: #37516A;
    padding-bottom: 40px;
    color: #fff;
    padding-right: 45px;
    padding-left: 15px;
    text-align: left;
    box-sizing: border-box; }
    .media.blocks .block-blue .information .crew {
      background: #37516A; }
    .media.blocks .block-blue .information p {
      line-height: 1.2;
      opacity: .8; }
    .media.blocks .block-blue .information h5 {
      font-size: 2rem;
      opacity: .9;
      margin: 8px; }
  .media.blocks .block-with-icon .information {
    background: #F2F2F2;
    padding-bottom: 40px;
    color: #000;
    padding-right: 25px;
    padding-left: 15px;
    text-align: left;
    box-sizing: border-box; }
    .media.blocks .block-with-icon .information .crew {
      background: #F2F2F2; }
    .media.blocks .block-with-icon .information p {
      line-height: 1.2;
      opacity: .8; }
    .media.blocks .block-with-icon .information h5 {
      font-size: 2.4rem;
      line-height: 1.3;
      opacity: .9;
      margin: 8px; }
    .media.blocks .block-with-icon .information .img-pic {
      position: absolute;
      right: 10px;
      top: -40px;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      -ms-border-radius: 32px;
      border-radius: 32px; }
