a:hover {
  color: #EB5757; }

*, .container-fluid {
  margin: 0;
  outline: none;
  box-sizing: border-box; }

#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

.owl-carousel, .owl-stage-outer, .owl-stage:after, .owl-item.cloned, .owl-carousel .owl-stage, .owl-item.cloned.active,
.owl-item.cloned, .owl-item.active {
  height: inherit !important; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel img {
  height: auto !important; }

.row {
  margin: 0 !important; }

li {
  list-style: none; }

::-webkit-input-placeholder {
  background: default; }

input:focus:invalid,
textarea:focus:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

.vertical {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit; }

.flex_box, .flex_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  align-items: flex-start;
  float: none; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

.bar-mobile {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 40px;
  float: right;
  position: relative;
  height: 25px;
  display: none; }

.bar-mobile span {
  background-color: #fff;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%; }

.bar-mobile span.top {
  top: 0; }

.bar-mobile span.middle {
  top: 50%;
  margin-top: -2px; }

.bar-mobile span.bottom {
  top: 100%;
  margin-top: -2px; }

.close-bt-hamburguer .middle {
  opacity: 0; }

.close-bt-hamburguer span.top {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg); }

.close-bt-hamburguer span.bottom {
  margin: -2px 0 0 -3px;
  top: 50%;
  width: 120%;
  -moz-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg); }

.bar-mobile span {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.triko .body {
  padding-bottom: 0; }

.triko .autor.footer img {
  float: left;
  margin-right: 20px;
  width: 64px; }

.triko .autor.footer span {
  margin-left: 0; }

.triko .body img {
  margin: 0px 0 20px; }

.triko .concert {
  padding-bottom: 89px;
  padding-left: 100px; }
  @media only screen and (max-width: 768px) {
    .triko .concert {
      padding-left: 0; } }

.triko .head {
  border-bottom: 1px solid #333; }
  .triko .head .autor {
    margin-top: 10px; }
    @media only screen and (max-width: 1000px) {
      .triko .head .autor {
        text-align: center; } }
    .triko .head .autor img {
      float: left;
      margin-right: 20px; }
      @media only screen and (max-width: 1000px) {
        .triko .head .autor img {
          display: inline-block;
          float: none;
          margin-bottom: 20px; } }
    .triko .head .autor span {
      margin-left: 0; }

.triko .section-title-small-line h6 {
  padding-right: 100px;
  font-family: "Merriweather-Bold";
  font-size: 4.2rem;
  line-height: 48px;
  text-transform: none; }

.triko .section-title-small-line hr {
  border-color: #000; }

.triko .quote {
  display: block;
  padding-bottom: 40px;
  font-family: "Montserrat-Regular";
  font-size: 2rem;
  line-height: 24px; }

.triko .pre {
  margin-bottom: 64px;
  font-size: 2.4rem; }

.triko .pl {
  padding-left: 100px; }
  @media only screen and (max-width: 768px) {
    .triko .pl {
      padding-left: 30px; } }

.triko footer {
  margin-top: 30px; }
