append block js
  //build:js scripts/vendor.min.js
  //script(src="src/scripts/jquery.min.js")
  script(src="src/scripts/jquery-1.10.2.min.js")
  script(src="src/scripts/jquery.easing.1.3.js")
  script(src="src/scripts/animate-css.js")
  script(src="src/scripts/jquery.sldr.js")
  script(src="src/scripts/owl.carousel.js")


