@import mixins
@import media
@import bar-mobile
@import vars

.clearfix 
	display: block
.clearfix:after
	content: ""
	display: block
	clear: both
	visibility: hidden
	line-height: 0
	height: 0
	margin: 0
	padding: 0
.course
	min-width: 320px
	.owl-stage
		padding-left: 0!important
	.user-img-upload
		+m(992)
			margin-top: 20px
			img
				width: 50%
	.user-img-upload, .user-img-upload p
		position: relative
		left: 20px
	.owl-video-wrapper
		height: 400px!important
		margin-bottom: 14px
	h2
		font-family: $meb
		font-size: 5rem
		line-height: 45px
		color: $main
		margin-bottom: 40px
		float: left
	.media-img
		border-bottom: 1px solid #ccc
		+m(992)
			border-bottom: none
	.mr
		margin-right: 20px
	.block
			background: url(../img/title-decor.png) no-repeat
			background-position: bottom center
	.media-body, .autor-subject
		+mm(992)
			min-height: 360px
	.autor-subject
		text-align: left
		p
			position: relative
			left: 20px
		+mm(992)
			position: relative
		+m(992)
			padding-bottom: 30px
			text-align: center

		img
			display: inline-block
			position: relative
			+m(992)
				left: 20px
		+mm(992)
			width: calc(25% - 20px)
		+m(992)
			width: 100%!important

	.media-body
		+m(992)
			background: none!important
	.white .information
		h5
			position: relative
			bottom: 10px!important
		padding-bottom: 10px!important
		background: #fff!important
		.crew
			background: #fff!important
			+m(992)
				transform: skewY(-4deg)!important
				height: 100px!important
				width: 101%!important
	h4
		font-family: $meb
		font-size: 2.4rem
		line-height: 30px
		margin-bottom: 20px
	.media-body p
		font-size: 1.6rem!important
		line-height: 22px

	.autor-subject p
		font-size: 1.6rem
		font-family: $arbi
		line-height: 18px
		margin-top: 15px
		text-decoration: underline
	.permalink
		float: right
		font-family: $mer
		color: #333
		font-size: 1.3rem
		line-height: 15px
		font-style: normal
		position: relative
		top: 20px
		&::after
			content: ""
			display: inline-block
			margin-left: 20px
			width: 24px
			height: 11px
			transform: rotate(180deg)
			background: url('../img/icons/Vector.png') no-repeat
			+cover
	.lections-inner
		border-bottom: 2px solid #eee
		padding-bottom: 70px
		+m(768)
			padding-bottom: 20px
	.lections
		h3
			font-size: 3.8rem
			line-height: 43px
			font-family: $mer
		li
			list-style: decimal
			line-height: 14px
			margin-bottom: 15px
			a
				font-family: $rub
				font-size: 1.2rem
				position: relative
				bottom: 2px
				color: #000
				font-style: normal
				transition: .3s ease
				&:hover
					text-decoration: none
					color: $main
		li.active
			border-right: 2px solid $main
		li.active, li.active a
			color: $main
	.heading
		margin-top: 44px
		margin-bottom: 47px
		span
			font-size: 1.4rem
			font-family: $rur
			margin-left: 10px
	.lection-info
		.heading
			padding-top: 8px
			+box
		h5
			font-size: 2.4rem
			font-family: $rub
			margin-bottom: 20px
			float: left
			width: 82%
			+m(600)
				float: none
				width: 100%
		.time
			float: right
			+m(600)
				float: none
				width: 100%
				text-align: left
				margin-bottom: 20px
			display: block
			width: 18%
			position: relative
			top: 4px
			font-family: $charter
			font-size: 1.6rem
			text-align: right
		p
			font-family: $arr
			font-size: 1.4rem
			line-height: 19px
		.slide
			width: 100%
			position: relative
			height: auto
		.owl-nav
			display: block!important
			top: -60px!important
			width: 0px!important
			left: 100%!important
			.owl-prev
				+m(768)
					left: -100px
				background: url('../img/icons/vector2.png')
				&:hover
					background: url('../img/icons/vector.png')
			.owl-next
				left: -40px
				background: url('../img/icons/vector2.png')
				&:hover
					background: url('../img/icons/vector.png')
	.listen
		padding-top: 46px
		padding-bottom: 85px
		text-align: center
		.video-center
			display: inline-block
		.video
			margin-bottom: 30px
			position: relative
			iframe
				+mm(992)
					width: 400px
					height: 300px
		h3
			min-height: 36px
			text-align: center
			line-height: 21px
			font-family: $mer
			font-size: 2.4rem
			margin-bottom: 53px
		h3
			font-family: $rub
			font-size: 1.8rem
			margin-bottom: 18px

	.live
		h4
			text-align: center
			font-size: 2.4rem
			line-height: 27px
			font-family: $mer
		.box
			padding: 15px
			border: 1px solid #E0E0E0
			margin-bottom: 68px
			position: relative
			padding-right: 100px
			// +png(bg-box)
			// background-repeat: repeat
			// background-opacity: 10%
			+m(480)
				padding: 15px
			h6
				font-family: $rub
				font-size: 1.8rem
			p
				font-family: $rur
				font-size: 1.8rem
				line-height: 26px
				margin-bottom: 20px
			.vector
				transition: .3s ease all
				&:hover
					transform: rotate(180deg) scale(1.1)
					opacity: .5
				+pointer
				display: block
				height: 40px
				background: url(../img/icons/Vector.png) no-repeat center
				background-size: 60%
				transform: rotate(180deg)
				width: 40px
				border: 1px solid #000
				+br(20px)
				text-align: center
				+mm(480)
					+absolute
					right: 30px
					bottom: 30px
			img
				width: 20px
				height: 12px
				position: relative
				top: 5px
				transform: rotate(180deg)
