@import mixins
@import media
@import bar-mobile
@import vars
@import ../css/sprite

// Pages
@import review-note
@import review
@import lectors
@import review-movie
@import triko
@import course
@import videoblog
@import header
@import footer



.section-button.media
  a
    +absolute
    bottom: 20px
    left: 15px
  p
    +absolute
    bottom: 20px
    right: 0
    font-family: $mor
    font-size: 1.2rem



.visibility-no
  visibility: hidden



// ОБЩИЕ СТИЛИ

body
  color: $body-color
  font-size: $body-size

  p
    line-height: 30px
    font-size: $body-size
    font-family: Georgia, sans-serif
    padding-left: 0
.container
  width: $container-width
  padding: 0
  +m(1000)
    width: 90%

.body
  clear: both
  padding: 54px 0 74px
  img
    width: 100%
    margin-bottom: 55px
  u
    display: block
    margin-bottom: 20px
    color: #333
  p
    margin-bottom: 20px

.no-padding-left
  padding-left: 0!important

.clear
  display: block
  clear: both

.user-img-upload
  img
    width: 100%
    border-radius: 50% 50% 50% 0px
    box-shadow: 6px 9px 28px -6px rgba(0,0,0,0.33)


.section-title-inner
  margin-bottom: 40px
  overflow: auto
  min-width: 320px
  +m(768)
    text-align: center
  h6
    +m(768)
      float: none!important
      margin-bottom: 10px

ul.heading-list
  float: right
  position: relative
  display: table
  min-width: 320px
  +m(768)
    padding-left: 0
    width: 100%
    text-align: center
  +m(480)
    text-align: center
    display: block
  li
    +m(480)
      float: none
      display: block
      padding-left: 0
    display: inline
    padding-left: 20px
    a
      color: #000
      opacity: .5
      &:hover
        opacity: 1
      &.active
        opacity: 1
        text-decoration: underline
      font-family: $mer
      font-size: 1.4rem
  
h3
  color: $heading-color
  font-family: $mob
  font-size: $heading-size-sm
  text-transform: uppercase

h2
  font-size: 3.8rem
h1
  font-size: 4.8rem
h6
  font-size: 2.8rem
  font-family: $mob
  line-height: 34px
  text-transform: uppercase

a
  font-family: $charter
  text-decoration: none
  font-style: italic
  &:hover
    text-decoration: underline

.reverse
  color: #fff

.line
  margin-top: 15px
  margin-bottom: 25px
  hr
    width: 150px
    float: left
    margin-right: 20px
  span
    font-family: $mob
    font-size: 2.2rem
    position: relative
    top: 8px

header.main nav
  position: relative
  right: 15px

.autor
  margin-top: 20px
  span
    display: inline-block
    margin-left: 20px
    font-family: $mor
    font-size: 1.6rem
.autor-rev
  margin-top: 60px

.item-blocks
  margin-top: 30px
.section-title
  background: url("../img/title-decor.png") no-repeat center
  text-align: center
  min-height: 4px
  clear: both
  h3
    padding: 0 35px
    background: $body-background-color
    display: inline-block

.content-wrapper
  margin-top: 75px!important
.first-row
  +m(1100)
    margin-top: 45px!important
.section-button
  text-align: center
  height: 60px
  clear: both
  min-width: 260px
a.button
  display: inline-block
  margin-top: 30px
  border: $btn-border
  border-radius: $btn-border-radius
  position: relative
  font-style: normal
  font-size: $btn-font-size
  color: $btn-font-color
  background: $btn-color
  padding: $btn-padding-y $btn-padding-x
  font-family: $btn-family
  +uppercase
  &:hover
    +pointer
    text-decoration: underline
  &::after
    content: "// ///"
    display: inline-block
    margin-left: 50px
    font-family: $btn-family

.content.other
  .head .col-sm-9
    padding-left: 0
  .autor-rev
    text-align: right
    position: relative
    left: 45px
.section-title-with-line
  padding-bottom: 34px
  display: inline-block
  border-bottom: 1px solid #333
  position: relative
  &::after
    content: "///"
    display: block
    +absolute
    padding-left: 20px
    font-family: $mob
    font-size: 2.2rem
    background: $body-background-color
    bottom: -16px
    right: -14px
    z-index: 2
    color: #333


// ==============
        //СЛАЙДЕР МОБИЛЬНЫЙ ГЛАВНАЯ СТРАНИЦА
// ==============

#owl-carousel
  height: 496px!important
  min-width: 320px
  +mm(1101)
    display: none
  .owl-controls
    text-align: center
  .owl-dots
    height: 48px
    background: url(../img/nav-bg.png) repeat-x
    position: relative

  .owl-dot
    padding: 0 2px
    width: 55px
    height: 8px
    background: #BDBDBD
    display: inline-block
    transform: skew(-30deg)
    cursor: pointer
    margin-top: 20px
    margin-left: 3px
  .owl-dot.active
    background: #EB5757

  .owl-nav
    width: 100%
    position: relative
    bottom: 300px
    .owl-next
      +pointer
      +absolute
      right: 30px
      height: 64px
      width: 64px
      background: #000
      +m(600)
        background: rgba(0,0,0,0)
        &:hover
          background: rgba(0,0,0,.4)
        right: 5px
      +br(32px)
      &::before
        content: ""
        display: block
        +absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: url(../img/icons/arrow-right.svg) no-repeat center center
        z-index: 100
    .owl-prev
      +br(32px)
      +pointer
      +absolute
      left: 30px
      height: 64px
      width: 64px
      background: #000
      +m(600)
        background: rgba(0,0,0,0)
        &:hover
          background: rgba(0,0,0,.4)
        left: 5px

      &::before
        content: ""
        display: block
        +absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: url(../img/icons/arrow-left.svg) no-repeat center center
        z-index: 100
  .info-mob
    position: relative
    height: inherit
    &::after
      content: ''
      display: block
      +absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(109, 27, 110, .7)
      z-index: 1
  .user-pic
    width: 100px
  .wrap
    +absolute
    padding: 150px 60px
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 4
    color: #fff
    text-align: center
    h2
      line-height: 1.1
      font-family: $meb
      font-size: 2.5rem
      margin-top: 17px
    .review
      font-family: $mob
      fsize: 14px
      +uppercase
      padding-bottom: 4px
      display: inline-block
      border-bottom: 2px solid #fff
    .desc
      font-family: $mol
      font-size: 1.9rem
      margin-top: 14px
    .user-pic
      display: inline-block
      width: 64px


      // ==============
              //СЛАЙДЕР ГЛАВНАЯ СТРАНИЦА
      // ==============
.stage
  +m(1100)
    display: none!important
.slider
  .autor
    margin-top: 60px
    span
      display: inline-block
      margin-left: 20px
      font-family: $mor
      font-size: 1.6rem
  .desc
    font-family: $mol
    font-size: 1.9rem
    margin-top: 14px
  .info
    z-index: 101
    +absolute
    text-align: left
    left: 72px
    margin-top: 190px
  p
    margin-left: 0
  h2
    line-height: 1.1
    font-family: $meb
    font-size: 32px
    margin-top: 17px

  .review
    font-family: $mob
    fsize: 14px
    +uppercase
    padding-bottom: 4px
    display: inline-block
    border-bottom: 2px solid #fff
.slider ul
  color: #ECECEC
  text-align: center
  margin: 0
  padding: 0
  list-style-type: none

.slider p
  max-width: 500px
  margin-left: auto
  margin-right: auto

.over-left
  +m(1100)
    display: none
  width: calc((100% - 825px) / 2 + 86px )
  height: 496px
  background: rgba(0,0,0,.5);
  position: absolute
  left: -87px
  top: 0
  z-index: 10
  transform: skew(-19.3deg)
.stage button
  +m(1100)
    display: none
  +absolute
  z-index: 10
  top: 50%
  margin-top: -32px
  outline: none
  height: 64px
  width: 64px
  border-color: transparent
  border-radius: 32px
  background: #000
  &::after
    content: ""
    +absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.stage button.prev
  left: calc((100% - 825px) / 2 - 41px)
  &::after
    background: url(../img/icons/arrow-left.svg) no-repeat center center
.stage button.next
  right: calc((100% - 825px) / 2 - 29px)
  &::after
    background: url(../img/icons/arrow-right.svg) no-repeat center center

.over-right
  +m(1100)
    display: none
  width: calc((100% - 825px) / 2 + 79px )
  height: 496px
  background: rgba(0,0,0,.5);
  position: absolute
  right: -80px
  top: 0
  z-index: 10
  transform: skew(-19.3deg)

.slider .hdi
  height: 496px
  position: absolute
  left: 0
  width: 100%
  overflow: hidden

.slider a
  color: #c48ec8
  -webkit-transition: color 0.25s cubic-bezier(0.86, 0, 0.07, 1)
  -moz-transition: color 0.25s cubic-bezier(0.86, 0, 0.07, 1)
  -o-transition: color 0.25s cubic-bezier(0.86, 0, 0.07, 1)
  transition: color 0.25s cubic-bezier(0.86, 0, 0.07, 1)

.slider button
  color: #FFF
  font-size: 12px
  letter-spacing: 0.3em
  text-transform: uppercase
  border-radius: 4px
  cursor: pointer
  border: none
  background: #c48ec8
  padding: 8px 14px

.slider ul.animate
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.86, 0, 0.07, 1)
  -moz-transition: transform 0.75s cubic-bezier(0.86, 0, 0.07, 1)
  -o-transition: transform 0.75s cubic-bezier(0.86, 0, 0.07, 1)
  transition: transform 0.75s cubic-bezier(0.86, 0, 0.07, 1)


.stage
  position: relative
  width: 100%
  margin: 0 auto
  padding: 0 12%
  text-align: center
  overflow: hidden

.sldr
  max-width: 825px
  margin: 0 auto
  overflow: visible
  position: relative
  clear: both
  display: block
  > ul > li
    float: left
    display: block
    width: 895px
    position: relative
  .skew
    &::after
      +absolute
      opacity: 0.7
      content: ""
      display: block
      background: #6D1B6E
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 100


.slider div.skew
  max-width: 825px
  margin: 0 auto
  border: 1px solid #fff
  display: block
  overflow: hidden
  -webkit-transform: skewX(-19.3deg)
  -moz-transform: skewX(-19.3deg)
  -ms-transform: skewX(-19.3deg)
  transform: skewX(-19.3deg)
  > div.wrap
    display: block
    overflow: hidden
    -webkit-transform: skewX(19.3deg)
    -moz-transform: skewX(19.3deg)
    -ms-transform: skewX(19.3deg)
    transform: skewX(19.3deg)
    margin-left: -10.1%
    width: 122%
    height: 496px

.sldr .wrap img
  max-width: 1000px
  width: 100%
  height: auto
  display: block
  width: 965px
  position: relative
  left: -30px
  margin: 0 auto

.selectors
  display: block
  li
    margin-top: 20px
    font-size: 46px
    line-height: 32px
    display: inline
    padding: 0 2px
    width: 55px
    height: 8px
    background: #EB5757
    display: inline-block
    transform: skew(-30deg)
    +pointer
    a
      text-decoration: none
    &.focalPoint
      background: #BDBDBD

.captions div
  left: 200%
  position: fixed
  opacity: 0
  -webkit-transition: opacity 0.75s cubic-bezier(0.86, 0, 0.07, 1)
  -moz-transition: opacity 0.75s cubic-bezier(0.86, 0, 0.07, 1)
  -o-transition: opacity 0.75s cubic-bezier(0.86, 0, 0.07, 1)
  transition: opacity 0.75s cubic-bezier(0.86, 0, 0.07, 1)
  &.focalPoint
    opacity: 1
    left: inherit
    position: static

.slider .clear
  display: block
  width: 100%
  height: 0px
  overflow: hidden
  clear: both

.selector-bg
  height: 48px
  background: url(../img/nav-bg.png) repeat-x
  position: relative
  bottom: 48px
  z-index: -10


// ==============
        //BODY ГЛАВНАЯ СТРАНИЦА
// ==============
.content
  margin-top: 30px
.section-title
  margin-bottom: 25px

.crew
  height: 40px
  +m(768)
    height: 80px!important
.crew-reverse
  box-sizing: border-box
  display: block
  +absolute
  left: 0
  top: -38px
  width: 100%;
  +m(768)
    top: -80px
  height: 40px
  transform-origin: top left;
  transform: skewY(7deg);
  z-index: 0;
  
.owl-style.inner
  margin-bottom: 86px
  position: relative
  +m(1200)
    width: 80%
    margin: 0 auto 86px
  +m(480)
    width: 100%
  .owl-nav
    width: 100%
    height: 22px
    +absolute
    top: 50%
    margin-top: -11px
    left: 0
    +m(480)
      display: none
  .owl-prev
    +absolute
    left: -100px
    +m(768)
      left: -50px
    width: 48px
    height: 22px
    background: url(../img/icons/vector.png)
  .owl-next
    +absolute
    right: -100px
    +m(768)
      right: -50px
    width: 48px
    height: 22px
    background: url(../img/icons/vector.png)
    transform: rotate(180deg)
  .owl-dots
    +absolute
    width: 100%
    height: 25px
    bottom: -49px
    text-align: center
    .owl-dot
      display: inline-block
      padding: 0 10px
    .owl-dot::after
      content: "/"
      display: inline
      font-family: $mob
      font-size: 2.2rem
      color: #cecece
    .owl-dot.active::after
      color: $main

.media.blocks
  width: calc(100% + 20px)
  position: relative
  left: -10px
  min-width: 320px
  a.inform:hover
    text-decoration: none
  .item
    +m(768)
      margin-bottom: 30px
  .image-src img
    width: 100%
  .img
    width: 100%
    +absolute
    left: 0
    top: 0
    z-index: -1
  div[class^="col"]
    padding: 0 10px
  .information
    padding-left: 15px
    font-style: normal
    font-size: 1.4rem
    p
      font-size: 1.4rem
      font-family: $charter
    h5
      font-family: $heading-h5-family
      opacity: .99
      margin-left: 0!important
    p.date
      font-family: $charter
      font-size: 1.4rem
      font-style: italic
      opacity: .99
    p.autor
      font-family: $mer
      font-size: 1.2rem
      position: relative
      top: 25px
  .item .information
    position: relative
    width: 100%
  .block-red .information
    background: #EB5757
    padding-bottom: 40px
    color: #fff
    padding-right: 25px
    text-align: right
    box-sizing: border-box
    h5
      font-size: $heading-size-lg
    .crew
      box-sizing: border-box
      display: block
      +absolute
      left: 0
      top: 0
      width: 100%;
      background-color: #EB5757;
      transform-origin: top left;
      transform: skewY(-7deg);
      z-index: 0;
    .img-pic
      position: absolute
      left: 10px
      top: -60px
      border: 4px solid #EB5757
      +br(32px)
  .block-red.item.white .information
    background: #F2F2F2
    color: #000
    .crew
      background: #F2F2F2
    .img-pic
      border: none
      margin-top: 10px

    h5
      opacity: 0.99
  .block-blue .information
    background: #37516A
    padding-bottom: 40px
    color: #fff
    padding-right: 45px
    padding-left: 15px
    text-align: left
    box-sizing: border-box
    .crew
      background: #37516A
    p
      line-height: 1.2
      opacity: .8
    h5
      font-size: $heading-size-sm
      opacity: .9
      margin: 8px 

  .block-with-icon .information
    background: #F2F2F2
    padding-bottom: 40px
    color: #000
    padding-right: 25px
    padding-left: 15px
    text-align: left
    box-sizing: border-box
    .crew
      background: #F2F2F2
    p
      line-height: 1.2
      opacity: .8
    h5
      font-size: $heading-size-base
      line-height: 1.3
      opacity: .9
      margin: 8px 
    .img-pic
      position: absolute
      right: 10px
      top: -40px
      +br(32px)








