@import mixins
@import media
@import bar-mobile
@import vars

.triko
  .body
    padding-bottom: 0
  .autor.footer
    img
      float: left
      margin-right: 20px
      width: 64px
    span
      margin-left: 0

  .body
    img
      margin:  0px 0 20px
  .concert
    padding-bottom: 89px
    padding-left: 100px
    +m(768)
      padding-left: 0
  .head
    border-bottom: 1px solid #333
    .autor
      margin-top: 10px
      +m(1000)
        text-align: center
      img
        +m(1000)
          display: inline-block
          float: none
          margin-bottom: 20px
        float: left
        margin-right: 20px
      span
        margin-left: 0
  .section-title-small-line
    h6
      padding-right: 100px
      font-family: $meb
      font-size: 4.2rem
      line-height: 48px
      text-transform: none
    hr
      border-color: #000
  .quote
    display: block
    padding-bottom: 40px
    font-family: $mor
    font-size: 2rem
    line-height: 24px
  .pre
    margin-bottom: 64px
    font-size: 2.4rem
  .pl
    padding-left: 100px
    +m(768)
      padding-left: 30px
  footer
    margin-top: 30px